HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/static/css/
/src/main/resources/static/img/
/src/main/resources/static/js/
/src/main/resources/static/ns-1/
/src/main/resources/static/ns-2/
/src/main/resources/static/ns-3/
/src/main/resources/static/ns-4/
/src/main/resources/static/ns-5/
/src/main/resources/static/ns-6/
/src/main/resources/static/ns-7/
/src/main/resources/static/ns-8/
/src/main/resources/static/index.html
/src/main/resources/static/index_SORT_BY_BLOCK.html
/src/main/resources/static/index_SORT_BY_BLOCK_DESC.html
/src/main/resources/static/index_SORT_BY_CLASS.html
/src/main/resources/static/index_SORT_BY_CLASS_DESC.html
/src/main/resources/static/index_SORT_BY_LINE.html
/src/main/resources/static/index_SORT_BY_LINE_DESC.html
/src/main/resources/static/index_SORT_BY_METHOD.html
/src/main/resources/static/index_SORT_BY_METHOD_DESC.html
/src/main/resources/static/index_SORT_BY_NAME_DESC.html
